#projects{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.slider{
  width: 90%;
  height: 300px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 20px;
  scrollbar-width: none;
  padding-top: 40px;
  padding: 20px;
}
#sonu{
  font-size: 4vmax;
  background: linear-gradient(to right, #e61818, #e5dfdfc8);
  background-clip: text;
  color: transparent;
  text-align: center;
  
}