#about {
  width: 100%;
  height: 100%;
  display: flex;
}
.leftabout {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #bff51e;
  box-shadow: 2px 2px 10px #bff51e;
}
.line {
  width: 2px;
  height: 120px;
  background-color: #f0f0f0;
}
.aboutdetails {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.personalinfo ul {
  list-style:none;
}
.personalinfo h1 {
  background: linear-gradient(to right, #e803ba, #e5dfdfc8);
  background-clip: text;
  color: transparent;
}
.education h1 {
  background: linear-gradient(to right, #e803ba, #e5dfdfc8);
  background-clip: text;
  color: transparent;
}
.skills h1 {
  background: linear-gradient(to right, #e803ba, #e5dfdfc8);
  background-clip: text;
  color: transparent;
}
.aboutdetails ul li {
  margin-bottom: 10px;
  font-size: 10px;
  color: #d4d4d4;
}
.aboutdetails ul li span {
  font-weight: bold;
  background: linear-gradient(to right, #dde803, #e2e4dcf0);
  background-clip: text;
  color: transparent;
}
@media(max-width: 750px) {
  #about {
    flex-direction: column;
  }
  .leftabout  {
    width: 100%;
    padding: 10px;
    
  }
  .rightabout {
    width: 100%;
  }
}
