#home{
    width: 100%;
    height: 100%;
    display: flex;

}
.Righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Righthome{
    img{
        width: 60%;
        height: auto;
        filter: drop-shadow(2px 2px 20px  rgb(218, 218, 225));
    }
}

.Lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.homedetails{
    font-size: 2vmax;

}
.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2em;
    background: linear-gradient(to right, #f906c0, #e20808c8);
    background-clip: text;
    color: transparent;
}
.line3{
    font-size: 0.8em;
}