#contact {
    width: 100%;
    height: 100%;
    display: flex;

}
.leftcontact {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftcontact img{
    width: 40%;
    filter: drop-shadow(2px 2px 10px blue)

}
form{
    width: 80%;
    height: 70%;
    background-color: rgb(100, 88, 113);
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 40px;

}
form:hover{
    box-shadow: 2px 2px 10px rgb(103, 7, 229), 2px 2px 60px rgb(54, 11, 227);
}
form input{
    width: 80%;
    height: 50px;
    border: 2px solid rgb(81, 255, 255);
    border-radius: 20px;
    padding: 20px;
    outline: none;


}
#textarea{
    width: 80%;
    height: 200px;
     border: 2px solid rgb(49, 234, 240);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}
#btn{
    width: 80%;
    height: 40px;
    background-color: rgb(46, 241, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    font-size: 15px;
    transition: all 0.3s;
    cursor: pointer;
    
}
#btn:hover{
    background:transparent ;
    color: aqua;

}
@media(max-width:750px) {
    #contact{
        flex-direction: column;

    }
    .leftcontact{
        width: 100%;
        height: 50%;
    }
    .leftcontact img{
        width: 70%;
    }
    .rightcontact{
        width: 100%;
    }
}